<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Sign In</a><a href="#" class="trialButton">Start Trial</a></li>
            </ul>
        </nav>
    </header>
    <section id="error">
        <img src="/img/error.svg" alt="">
    </section>
    <footer>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
    </footer>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>