<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Sign In</a><a href="#" class="trialButton">Start Trial</a></li>
            </ul>
        </nav>
    </header>
    <section id="letAlivio">
        <div>
            <h1>Be aware,<br>
                Manage well.</h1>
            <p>Everyone experiences stress in different ways.Let Alivio guide you, in a personalized journal experience,
                to overcome your stress.</p>
            <a href="#" class="wayButton">Find Your Way</a>
        </div>
    </section>
    <section id="howItWorks">
        <span>How it works</span>
        <div>
            <div>
                <h1>Understand & Release the stress in 3 steps</h1>
            </div>
            <div>
                <p>Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness,
                    sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and
                    guide you in how to manage stress.</p>
            </div>
        </div>
        <div>
            <article>
                <span>01</span>
                <h1>Personalize</h1>
                <p>Answer a quick survey about how you express yourself, what causes you stress, and what area would you
                    like to work on. This way, we can fully personalize your journal!</p>
                <img src="/img/bild3.svg" alt=""></img>
            </article>
            <article>
                <span>02</span>
                <h1>Write & Understand</h1>
                <p>Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage
                    your stress!</p>
                <img src="/img/bild1.svg" alt=""></img>
            </article>
            <article>
                <span>03</span>
                <h1>Alivio!</h1>
                <p>Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage
                    your stress!</p>
                <img src="/img/bild2.svg" alt=""></img>
            </article>
        </div>
    </section>
    <footer>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
    </footer>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>