<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Sign In</a><a href="#" class="trialButton">Start Trial</a></li>
            </ul>
        </nav>
    </header>
    <section id="letAlivio">
        <div>
            <h1>Be aware,<br>
                Manage well.</h1>
            <p>Everyone experiences stress in different ways.Let Alivio guide you, in a personalized journal experience,
                to overcome your stress.</p>
            <a href="#" class="wayButton">Find Your Way</a>
        </div>
    </section>
    <section id="solutions">
        <div>
            <img src="/img/photo.svg" alt="">
            <div class="card">
                <span>Customized For</span>
                <div>
                    <img src="/img/photo.svg" alt="">
                </div>
                <p>Mikayla</p>
                <h1>Your custom contents</h1>
                <ul>
                    <li>Understand Your Stress</li>
                    <li>Anger Managment</li>
                </ul>
            </div>
        </div>
        <div>
            <span>Our product</span>
            <h1>You tell us your stress,<br> We make your diary</h1>
            <p>Everyone experiences it, and in different ways.
                Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>
            <a href="#" class="wayButton">Let’s get started</a>
        </div>
    </section>
    <footer>
        <h1 class="logo"><a href="/">Alivio</a></h1>
        <nav>
            <ul>
                <li><a href="/whyAlivio">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
    </footer>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>